<div class="center hero-unit">
  <h1>Welcome to SharkBellyJelly</h1>

  <h2> <a href="https://play.google.com/store/apps/developer?id=SharkBellyJelly"> Check out my apps </a>
  </h2>

  <br/><br/>
  
  <div class="row-fluid">
  	<div class="span6">
  		<%= link_to image_tag("TextTree.png", alt: "TextTree"), 'https://play.google.com/store/apps/details?id=com.sbj.texttree' %> <br/>
  		<h4>Text Tree<h4>
  	</div>
  	<div class="span6">
  		<%= link_to image_tag("BoxOfficeTen.png", alt: "BoxOfficeTen"), 'https://play.google.com/store/apps/details?id=com.sbj.boxOfficeTen' %> <br/>
  		<h4>Box Office Ten</h4>
  	</div>
  </div>
 

</div>

