<footer class="footer">
  <div class="row-fluid">
  	<div class="span4 left">Powered By <a href="rubyonrails.org">Ruby on Rails</a></div>
  	<div class="span4 center">Hosted On <a href="heroku.com">Heroku</a></div>
  	<div class="span4 right">Source At <a href="https://github.com/mhelfer/sharkbellyjelly">GitHub</a></div>
  </div>
</footer>

 