<footer class="footer">
  <small>
    Powered By <a href="rubyonrails.org">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/mhelfer/sharkbellyjelly">This Sites Source - GitHub</a></li>
    </ul>
  </nav>
</footer>